$primary-color:#fb2b54;
$font-family: 'poppins';
$big-title: 4.5rem;
$medium-title: 3rem;


.btn-style {
    background-color: $primary-color;
    border-radius: 100px;
    color: white;
}

.btn-style-black{
    border-radius: 100px;
    color: white;
}

body{
    font-family: $font-family;
    nav{
        .btn-background{
            background: $primary-color;
        }
    }
    section{
        h1{
            color: $primary-color;
            font-size: $big-title;
        }
        h2{
            font-size: $medium-title;
        }
        .bar{
            background-color: $primary-color;
        }
        .text-color{
            color: $primary-color;
        }
        .img-height{
            height: 150px;
        }
        .testi-img{
            height: 100px;
        }
    }
    
}